<main>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <table>
        <tr>
            <th id="id">ID</th>
            <th id="name">name</th>
            <th id="b_color">Background color</th>
            <th id="t_color">Text color</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>3</td>
        </tr>
    </table>
    <script src="/routes/themeR.js"></script>
</main>